/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style */

body{
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

/* header style */

header{
    background-color: #2D25A0;
    color: #fff;
}
header:hover img{
    transform:scale(1.5)
}
.menu{
    display: flex;
    justify-content: center;
}
.menu li{
    list-style:none;
    padding: 0px 20px;
    margin-top: 40px;
}
.menu li a, .banner-details a{
    text-decoration: none;
    color: #fff;
}
.login{
    margin-left: 480px;
    background-color:#E02C6D;
    padding: 5px 10px;
}
.banner{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner img{
    width: 530px;
    height: 430px;
    transition: transform 5s ease-in-out;  
}
.banner-details h2{
    font-size: 60px;
}
.banner-details a, .container-details a{
    text-decoration: none;
    color: #fff;
    background-color: #E02C6D;
    padding: 5px 10px;
}

/* main style */
/* football players style */

.football-players{
    margin-top: 85px;
    display: grid;
    justify-content: center;
}
.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.players{
    width: 330px;
    height: 600px;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: #E7E6E6 1px 1px 20px 10px;
    margin-right: 40px;
}
.player{
    padding: 14px;
}
.player img{
    width: 300px;
    height: 256px;
}
.player-details h2{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 30px;
}
.player-details p{
    margin-top: 10px;
    line-height: 20px;
    text-align: justify;
    color: #6C6C6B;
}

/* container style */

.container-area{
    margin-top: 85px;
    margin-bottom: 85px;
}
.container-details{
    display: flex;
    justify-content: center;
}
.container-details img{
    width: 450px;
    height: 300px;
    margin-left: 100px;
}
.article{
    width: 470px;
}
.article h2{
    font-size: 40px;
    font-weight: 700px;
}
.article p{
    text-align: justify;
    color: #6C6C6B;
}

/* team ranking style */

.team-ranking{
    margin-bottom: 50px;
    text-align: center;
}
.team-ranking a{
    padding: 10px;
    background-image: linear-gradient(gold, tomato);
    border-radius: 40px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}
.football-teams{
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

table {
    width: 800px;
    border-collapse: collapse;
  }
  
  caption{
      font-size: 70px;
      font-weight: 700px;
      color:mediumblue;
  }

  td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(2n) {
    background-color: #dddddd;
  }

/* sports ball style */

.sports-balls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;   
}

.sports-balls h2{
    margin-left: 280px;
    font-size: 60px;
    color: green;
}
.balls{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.ball img{
    width: 100px;
    height: 100px;
    transition: transform 3s ease-in-out;
}
.ball:hover img{
    transform:scale(2)
}

/* footer style */

footer{
    margin-top: 100px;
    text-align: center;
}
footer p{
    font-size: 20px;
}
.logo img{
    width: 483px;
    height: 110px;
}
.icon a{
    text-decoration: none;
}
.fab{
    background-color: #D9D7D8;
    border-radius: 50px;
    font-size: 18px;
    padding: 5px 10px;
}
.filled{
    color: #969CAC;
}

/* media queries */

/* mobile devices */
@media only screen and (max-width:688px) {
    body{
        margin: auto;
      }
    .menu{
        margin: 0px;
        padding: 0px;
    }
    .menu li{
        font-size: 7px;
        padding: 0px 7px;

    }
    .login{
        margin-left: 20px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner img{
        margin-top: 70px;
        width: 280px;
        height: 230px;
    }
    .banner-details h2{
        font-size: 40px;
    }
    .all-players{
        margin-left: 40px;
        display: flex;
        flex-direction: column;
    }
    .container-details{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .container-details h2{
        font-size: 30px;
    }
    .container-details p{
        width: 335px;
    }
    .container-details img{
        margin-left: 0px;
        margin-top:50px;
        width: 335px;
    }
    .team-ranking caption{
        font-size: 50px;
    }
    table{
        width: 335px;
    }
    .sports-balls{
        margin: 0px;
    }
    .sports-balls h2{
        margin-left: 25px;
        font-size: 40px;
    }
    .balls{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 60px;
    }
    .logo img{
        width: 280px;
    }
    
}

/* ipad devices */
@media only screen and (min-width:689px) and (max-width:992px) {
    body{
        margin: auto;
      }
    .menu{
        margin: 0px;
        padding: 0px;
    }
    .menu li{
        font-size: 13px;
        padding: 0px 17px;

    }
    .login{
        margin-left: 85px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner img{
        margin-top: 70px;
        width: 550px;
        height: 500px;
    }
    .banner-details h2{
        font-size: 80px;
    }
    .all-players{
        margin-left: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container-details{
        
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .container-details h2{
        font-size: 70px;
        width: 689px;
    }
    .container-details p{
        width: 689px;
    }
    .container-details img{
        margin-left: 0px;
        margin-top:50px;
        width: 689px;
        height: 450px;
    }
    .team-ranking caption{
        font-size: 70px;
    }
    table{
        width: 689px;
    }
    .sports-balls{
        margin-left: 0px;
    }
    .sports-balls h2{
        margin-left: 250px;
        font-size: 40px;
    }
    .balls{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 150px;
    }
    .logo img{
        margin: 0px;
        width: 600px;
    }
    
}